# I. MODEL INFERENCE

Model yang telah dilatih sebelumnya, akan dilakukan uji coba dan tes pada data yang akan dibuat untuk melihat memastikan model tersebut dapat bekerja.

## II. IMPORT LIBRARIES

In [8]:
# Import Library

import pickle
import json
import pandas as pd
import numpy as np

## III. LOAD MODEL

In [9]:
# Open (read) the numerical column list
with open('list_num_cols_n.txt', 'r') as file_1:
    loaded_num_cols_n = json.load(file_1)
print(f"Loaded Numerical Columns: {loaded_num_cols_n}")

# Open (read) the categorical nominal column list
with open('list_cat_cols_n.txt', 'r') as file_2:
    loaded_cat_cols_n = json.load(file_2)
print(f"Loaded Categorical Nominal Columns: {loaded_cat_cols_n}")

# Open (read) the categorical ordinal column list
with open('list_cat_cols_o.txt', 'r') as file_3:
    loaded_cat_cols_o = json.load(file_3)
print(f"Loaded Categorical Ordinal Columns: {loaded_cat_cols_o}")

# Open (read) the MinMaxScaler object
with open('scaler_minmax.pkl', 'rb') as file_4:
    loaded_scaler_minmax = pickle.load(file_4)
print(f"Loaded MinMaxScaler Object: {loaded_scaler_minmax}")

# Open (read) the OrdinalEncoder object
with open('encoder_ordinal.pkl', 'rb') as file_5:
    loaded_encoder_ordinal = pickle.load(file_5)
print(f"Loaded OrdinalEncoder Object: {loaded_encoder_ordinal}")

# Open (read) the OneHotEncoder object
with open('encoder_onehot.pkl', 'rb') as file_6:
    loaded_encoder_onehot = pickle.load(file_6)
print(f"Loaded OneHotEncoder Object: {loaded_encoder_onehot}")

# Open (read) the best Logistic Regression model
with open('model_logreg_tuned.pkl', 'rb') as file_7:
    loaded_best_logreg_model = pickle.load(file_7)
print(f"Loaded Best Logistic Regression Model: {loaded_best_logreg_model}")

# Open (read) the best SVM model
with open('model_svm_tuned.pkl', 'rb') as file_8:
    loaded_best_svm_model = pickle.load(file_8)
print(f"Loaded Best SVM Model: {loaded_best_svm_model}")

# Open (read) the best KNN model
with open('model_knn_tuned.pkl', 'rb') as file_9:
    loaded_best_knn_model = pickle.load(file_9)
print(f"Loaded Best KNN Model: {loaded_best_knn_model}")

print("\nAll models and lists loaded successfully!")

Loaded Numerical Columns: ['limit_balance', 'bill_amt_1', 'bill_amt_2', 'bill_amt_3', 'bill_amt_4', 'bill_amt_5', 'bill_amt_6', 'pay_amt_1', 'pay_amt_2', 'pay_amt_3', 'pay_amt_4', 'pay_amt_5', 'pay_amt_6']
Loaded Categorical Nominal Columns: ['sex', 'education_level', 'marital_status', 'age']
Loaded Categorical Ordinal Columns: ['pay_1', 'pay_2', 'pay_3', 'pay_4', 'pay_5', 'pay_6']
Loaded MinMaxScaler Object: MinMaxScaler()
Loaded OrdinalEncoder Object: OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
Loaded OneHotEncoder Object: OneHotEncoder(handle_unknown='ignore')
Loaded Best Logistic Regression Model: LogisticRegression(C=0.01, random_state=23)
Loaded Best SVM Model: SVC(C=0.1, gamma='auto', random_state=23)
Loaded Best KNN Model: KNeighborsClassifier(metric='euclidean', n_neighbors=13)

All models and lists loaded successfully!

## IV. INFERENCING

Choose `DataFrame 1` or `DataFrame 2` for test the result:

- Data Frame 1 (For Trial):

In [10]:
# Create new data for inference
new_data = pd.DataFrame({
    'limit_balance': [100000, 200000, 50000, 150000],
    'sex': [2, 1, 2, 1],  # 1=male, 2=female
    'education_level': [2, 1, 3, 2], # 1=graduate school, 2=university, 3=high school, 4=others
    'marital_status': [1, 2, 1, 3], # 1=married, 2=single, 3=others
    'age': [30, 45, 25, 38],
    'pay_1': [0, -1, 2, 0], # Repayment status in September, 2005
    'pay_2': [0, -1, 2, 0], # Repayment status in August, 2005
    'pay_3': [0, -1, 2, 0], # Repayment status in July, 2005
    'pay_4': [0, -1, 2, 0], # Repayment status in June, 2005
    'pay_5': [0, -1, 2, 0], # Repayment status in May, 2005
    'pay_6': [0, -1, 2, 0], # Repayment status in April, 2005
    'bill_amt_1': [10000, 5000, 30000, 12000],
    'bill_amt_2': [8000, 4000, 25000, 10000],
    'bill_amt_3': [6000, 3000, 20000, 8000],
    'bill_amt_4': [5000, 2000, 18000, 7000],
    'bill_amt_5': [4000, 1000, 15000, 6000],
    'bill_amt_6': [3000, 500, 12000, 5000],
    'pay_amt_1': [1000, 500, 0, 1000],
    'pay_amt_2': [1000, 500, 0, 1000],
    'pay_amt_3': [1000, 500, 0, 1000],
    'pay_amt_4': [1000, 500, 0, 1000],
    'pay_amt_5': [1000, 500, 0, 1000],
    'pay_amt_6': [1000, 500, 0, 1000],
})

data_inf = new_data
data_inf

,limit_balance,sex,education_level,marital_status,age,pay_1,pay_2,pay_3,pay_4,pay_5,...,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,100000,2,2,1,30,0,0,0,0,0,...,6000,5000,4000,3000,1000,1000,1000,1000,1000,1000
1,200000,1,1,2,45,-1,-1,-1,-1,-1,...,3000,2000,1000,500,500,500,500,500,500,500
2,50000,2,3,1,25,2,2,2,2,2,...,20000,18000,15000,12000,0,0,0,0,0,0
3,150000,1,2,3,38,0,0,0,0,0,...,8000,7000,6000,5000,1000,1000,1000,1000,1000,1000

- Data Frame 2 (For Trial):

In [11]:
# # Create new data for inference
# new_data = {
#     'limit_balance': 100000,
#     'sex': 2,  # 1=male, 2=female
#     'education_level': 2, # 1=graduate school, 2=university, 3=high school, 4=others
#     'marital_status': 1, # 1=married, 2=single, 3=others
#     'age': 30,
#     'pay_1': 0, # Repayment status in September, 2005
#     'pay_2': 0, # Repayment status in August, 2005
#     'pay_3': 0, # Repayment status in July, 2005
#     'pay_4': 0, # Repayment status in June, 2005
#     'pay_5': 0, # Repayment status in May, 2005
#     'pay_6': 0, # Repayment status in April, 2005
#     'bill_amt_1': 10000,
#     'bill_amt_2': 8000,
#     'bill_amt_3': 6000,
#     'bill_amt_4': 5000,
#     'bill_amt_5': 4000,
#     'bill_amt_6': 3000,
#     'pay_amt_1': 1000,
#     'pay_amt_2': 1000,
#     'pay_amt_3': 1000,
#     'pay_amt_4': 1000,
#     'pay_amt_5': 1000,
#     'pay_amt_6': 1000,
# }

# data_inf = pd.DataFrame([new_data])
# data_inf

In [12]:
# Separate numerical and categorical columns for the new data
data_inf_num = data_inf[loaded_num_cols_n]
data_inf_cat_o = data_inf[loaded_cat_cols_o]
data_inf_cat_n = data_inf[loaded_cat_cols_n]

In [13]:
# Scale numerical features using the *fitted* scaler
data_inf_num_scaled = loaded_scaler_minmax.transform(data_inf_num[['limit_balance']])

# Encode ordinal categorical features using the *fitted* encoder
data_inf_cat_encoded = loaded_encoder_ordinal.transform(data_inf_cat_o)

# Encode nominal categorical features using the *fitted* OneHotEncoder
data_inf_cat_encoded_n = loaded_encoder_onehot.transform(data_inf_cat_n).toarray()

# Concatenate the processed features for the new data
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded, data_inf_cat_encoded_n], axis=1)

In [14]:

# Make predictions on the new data
predictions = loaded_best_logreg_model.predict(data_inf_final)

# # Convert boolean predictions back to 0/1 if needed for interpretation
# predictions = predictions.astype(int)

print("Predictions for new data:")
print(predictions)

# Map the predictions to meaningful labels
prediction_labels = ['No Default' if pred == False else 'Default' for pred in predictions]
print("\nPrediction Labels:")
print(prediction_labels)

# You can also add the predictions to the original data_inf DataFrame
data_inf['predicted_default'] = predictions
print("\nNew Data with Predictions:")

data_inf

Predictions for new data:
[False False  True False]

Prediction Labels:
['No Default', 'No Default', 'Default', 'No Default']

New Data with Predictions:

,limit_balance,sex,education_level,marital_status,age,pay_1,pay_2,pay_3,pay_4,pay_5,...,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6,predicted_default
0,100000,2,2,1,30,0,0,0,0,0,...,5000,4000,3000,1000,1000,1000,1000,1000,1000,False
1,200000,1,1,2,45,-1,-1,-1,-1,-1,...,2000,1000,500,500,500,500,500,500,500,False
2,50000,2,3,1,25,2,2,2,2,2,...,18000,15000,12000,0,0,0,0,0,0,True
3,150000,1,2,3,38,0,0,0,0,0,...,7000,6000,5000,1000,1000,1000,1000,1000,1000,False